body {
  min-height: 100vh;
  opacity: 0;
  background: linear-gradient(135deg, #252031 10%, #000 100%);
}
#wrap {
  width: 92%;
  max-width: 1920px;
  margin: 0 auto;
}

/* 상단 */
#header {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #252031;
  transition: 0.5s;
}
.header-blank {
  display: block;
  height: 80px;
}
#header .inner {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 80px;
  background: #252031;
  overflow: hidden;
}

/* 상단 : 로고 */
#header a#logo {
  position: absolute;
  top: 0;
  left: 24px;
}
#header a#logo img {
  width: auto;
  height: 80px;
}

/* 상단 : 카테고리 */
#header #category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#header #category a {
  position: relative;
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
#header #category a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
#header #category a:hover:after {
  width: 100%;
}

/* 상단 : 로그인,검색 */
#header #util {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 32px;
}
#header #util a {
  color: #fff;
  font-size: 16px;
}
#header #util #search {
  cursor: pointer;
}
#header #util #search img {
  width: 24px;
  height: 24px;
}
#header #util #search .close,
#header #util #search.on .open {
  display: none;
}

#header #util #search.on .close {
  display: block;
}

/* 상단 : 검색 */
div#search-area {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background: linear-gradient(135deg, #252031 10%, #000 100%);
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  transition: 0.5s;
  opacity: 0;
}

div#search-area input {
  border: 1px solid #1a1a1a;
  width: 80%;
  max-width: 400px;
  height: 40px;
  padding: 0 20px;
  background-color: #fff;
  font-size: 14px;
  line-height: 40px;
  box-sizing: border-box;
  outline: none;
}
div#search-area button {
  background-color: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-left: 12px;
}

/* 회원가입, 로그인 */
div#member-area {
  width: 80%;
  max-width: 400px;
  min-height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#title {
  text-align: center;
  margin-bottom: 40px;
}
div#title h2 {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}

div.join-box,
div.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div#member-area label {
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 700;
  margin-bottom: 12px;
}
div#member-area input {
  border: 1px solid #e3e3e3;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  background-color: #fff;
  font-size: 14px;
  line-height: 48px;
  box-sizing: border-box;
  outline: none;
}
div#member-area input + label {
  margin-top: 24px;
}

div#member-area .member-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin-top: 40px;
  background-color: #cabdeb;
  border: 0;
  color: #252031;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  transition: 0.3s;
}
div#member-area .member-btn:hover {
  background-color: #252031;
  color: #fff;
}

div#member-area a.member-btn {
  margin-top: 16px;
  background-color: #fff;
  border: 2px solid #cabdeb;
  color: #1a1a1a;
  border-radius: 4px;
}
div#member-area a.member-btn:hover {
  background-color: #cabdeb;
  color: #252031;
}
