* {
  font-family: "Pretendard", sans-serif !important;
}
div#wrap {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 80px;
}
header#header,
#header .inner {
  background-color: transparent !important;
}
header#header.on {
  background-color: #252031 !important;
}
span.header-blank {
  display: none;
}

div#detail {
  position: relative;
  display: flex;
  overflow: hidden;
}

/* 상세 배경이미지 */
div#detail #bg-img {
  z-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
div#detail #bg-img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0, #15131a 6%, transparent);
  backdrop-filter: blur(6px);
}
div#detail #bg-img img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* 상세 상단 내부 */
div#detail .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  max-width: 1280px;
  margin: 120px auto 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}

/* 상세 포스터 */
div#detail .inner #movie-poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
}
div#detail .inner #movie-poster img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* 상세 영화정보 */
div#detail .inner .info-area {
  width: 50%;
  overflow: hidden;
  color: #fff;
  padding: 16px 48px 16px 24px;
}
div#detail .inner #movie-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}
div#detail .inner #movie-info ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
div#detail .inner #movie-info .title {
  text-align: left;
  font-size: 48px;
  margin-bottom: 0;
}

div#detail .inner #movie-info .vote {
  display: flex;
  align-items: center;
  gap: 8px;
}

div#detail .inner #movie-info .vote img {
  height: 24px;
}

div#detail .inner #movie-info .description {
  font-size: 16px;
  line-height: 1.25;
}

div#detail .inner #movie-info #genre {
  gap: 12px;
}
div#detail .inner #movie-info #genre li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* 배우 목록 */
div.credit {
  margin-top: 60px;
}
div.credit .sub-title {
  font-size: 18px;
}
div#actor-list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  padding: 12px 0 24px;
}
div#actor-list::-webkit-scrollbar {
  height: 6px;
}
div#actor-list::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #fff;
}
div#actor-list::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #93739c;
}
div#actor-list div.actor {
  pointer-events: none;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

div#actor-list .actor .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 67% 0;
  border-radius: 16px;
  overflow: hidden;
}
div#actor-list .actor .profile img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
div#actor-list .actor .character {
  font-size: 14px;
}
div#actor-list .actor .name {
  font-size: 16px;
}

/* 상세 하단 공통 */
div.container {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
}
div.container .sub-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 120px 0 24px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
div.container .sub-title a {
  transition: 0.3s;
  font-size: 16px;
  color: #fff;
}

div.container .sub-title a:hover {
  color: #fa5a50;
}

/* 스틸컷 */
div#still {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
div#still .still-cut {
  position: relative;
  width: calc(33.33% - (32px / 3));
}
div#still .still-cut img {
  width: 100%;
}

@media (max-width: 1240px) {
  /* .movie-card {
    width: calc(25% - 24px);
  }

  #youtube {
    flex-wrap: wrap;
  }

  .box {
    width: calc(50% - 15px);
  } */
}

@media (max-width: 780px) {
  div#still {
    flex-wrap: wrap;
  }
  div#still .still-cut {
    width: calc(50% - 8px);
  }
  /* .movie-card {
    width: calc(50% - 24px);
  }

  #youtube {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #youtube .box {
    width: 100%;
  } */
}

/* 관련 영상 */
div#video {
  display: flex;
  gap: 16px;
}
div#video .box {
  position: relative;
  width: calc(33.33% - (32px / 3));
}
div#video .box:before {
  content: "";
  display: block;
  width: 100%;
  padding: 28.125% 0;
}
div#video .box iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/* 리뷰 */
div.comment-box ul#comment-list {
  max-height: 400px;
  min-height: 200px;
  overflow-y: auto;
  background-color: transparent;
  border-radius: 6px;
  color: white;
  border: 1px solid white;
}
div.comment-box ul li {
  display: flex;
  align-items: center;
  padding: 18px 24px;
}
div.comment-box ul > li + li {
  border-top: 1px solid white;
}
div.comment-box .hide-id {
  display: none !important;
}

div.comment-box .comment-area {
  width: 80%;
  margin-right: auto;
}
div.comment-box .comment-area .comment {
  font-size: 18px;
}
div.comment-box .comment-area .id {
  margin-top: 8px;
  font-size: 14px;
  color: white;
}

/* 리뷰 : 버튼 */
div.btn-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  gap: 4px;
}
button.like {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
button.like:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
button.like img {
  width: 100%;
  height: 100%;
}
button.like.on img.off,
button.like img.on {
  display: none;
}
button.like.on img.on {
  display: block;
}
button.like span {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translate(0, -50%);
  padding: 4px 12px;
  background: #bdace6;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}
button.like:hover span {
  opacity: 1;
  transform: translate(-100%, -50%);
}

button.like span:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #bdace6;
  position: absolute;
  top: 50%;
  right: -4px;
  transform: translateY(-50%) rotate(45deg);
}

div.btn-area .modify {
  cursor: pointer;
  background-color: #252031;
  color: #fff;
  border: 1px solid #252031;
}

div.btn-area .delete {
  cursor: pointer;
  background-color: #fff;
  color: #1a1a1a;
  border: 1px solid #252031;
}

/* 리뷰 작성 */
div.comment-box #is-login,
div.comment-box #is-logout {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  margin-top: 16px;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid white;
}
div.comment-box #is-logout {
  font-weight: 700;
  justify-content: center;
  font-size: 18px;
  color: #252031;
}
div.comment-box #is-logout a {
  font-size: 18px;
  margin: 0 8px;
  color: #551a8b;
}
div.comment-box #is-login input {
  flex: 1;
  height: 40px;
  outline: none;
  padding: 0 12px;
  line-height: 40px;
  border-radius: 4px;
  border: 0;
  outline: none;
}
div.comment-box #is-login button {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: auto;
  height: 40px;
  padding: 0 24px;
  border-radius: 4px;
  margin-left: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

div.comment-box #is-login button:hover {
  background-color: white;
  color: black;
}
