<<<<<<< HEAD
#cardWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.movie-card {
  margin: auto;
  padding: auto;
  width: 230px;
  height: 350px;
}
.card-contents {
  height: 100%;
}
.movie-title {
  width: 100%;
  height: 100%;
}
.movie-poster {
  width: 100%;
  height: 100%;
}
.header {
  border: 1px red;
  display: flex;
  padding: 1px;
  /* gap: 8px; */
}

.header3 {
  display: flex;
}
.header4 {
  display: flex;
  gap: 5px;
  margin-left: 8px;
}
.header2 {
  justify-content: flex-end;
=======
ul#movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 16px;
}
ul#movie-list li {
  width: calc(20% - 12.8px);
}
@media (max-width: 1240px) {
  ul#movie-list li {
    width: calc(25% - 12.8px);
  }
}
@media (max-width: 740px) {
  ul#movie-list li {
    width: calc(50% - 12.8px);
  }
}
ul#movie-list li a {
  display: block;
}
ul#movie-list li a .poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 71.4% 0;
  overflow: hidden;
}
ul#movie-list li a .poster img {
  width: 100%;
  transition: 0.5s;
}
ul#movie-list li a .poster:hover img {
  transform: scale(1.1);
}

ul#movie-list li a .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  color: #fff;
}
ul#movie-list li a .info .release-date {
  font-size: 14px;
}
ul#movie-list li a .info .title {
  font-size: 18px;
  line-height: 1.2;
}

ul#movie-list li a .vote {
  display: flex;
  align-items: center;
  gap: 8px;
}

ul#movie-list li a .vote img {
  height: 18px;
}

div#more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px solid #cabdeb;
  padding: 24px 80px;
  margin: 100px auto 0;
  color: #cabdeb;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
>>>>>>> 2508fc1f34bce47fcc44fd57b436aff8cb4edb33
}
