@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  color: white;
  background-image: linear-gradient(135deg, #252031 10%, #000 100%);
}
header#header,
#header .inner {
  background-color: transparent !important;
}
header#header.on {
  background-color: #252031 !important;
}
span.header-blank {
  display: none;
}

/*----------- carousel -----------*/
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

.slides {
  display: flex;
}

.slides .movie {
  position: relative;
  min-width: 100%;
  height: 90vh;
  padding-top: 80px;
  box-sizing: content-box;
  padding-top: 80px;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.poster-img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 400px;
}

.movie-title {
  position: absolute;
  color: white;
  top: 17%;
  left: 44%;
  font-size: 40px;
  font-weight: bold;
}

.movie-content {
  position: absolute;
  color: white;
  top: 30%;
  width: 500px;
  left: 44%;
  font-size: 24px;
  line-height: 32px;
}

.movie-detail {
  position: absolute;
  bottom: 5%;
  width: 120px;
  right: 2%;
  font-size: 20px;
  background-color: transparent;
  height: 44px;
  border-radius: 12px;
  border: 1px solid white;
  transition: 0.3s;
}

.movie-detail > a {
  color: white;
  transition: 0.3s;
}

.movie-detail:hover > a {
  color: #fa5a50;
}

.movie-detail:hover {
  cursor: pointer;
  border: 1px solid #fa5a50;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
  padding: 8px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.pagination .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.pagination .dot.active {
  background-color: white;
}

/*----------- preview videoss -----------*/
#preview-div {
  width: 92%;
  max-width: 1920px;
  font-family: "TTLaundryGothicB";
  font-size: 40px;
  margin: 0 auto 100px auto;
}

#preview-title {
  margin-bottom: 20px;
}

#youtube {
  display: flex;
  gap: 30px;
}

.box {
  position: relative;
  width: calc(33.33% - 20px);
}

.box::before {
  content: "";
  display: block;
  width: 100%;
  padding: 28.125% 0;
}

.box iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/*----------- movie list -----------*/
.common-div {
  width: 92%;
  font-family: "TTLaundryGothicB";
  font-size: 40px;
  margin: 0 auto 50px auto;
}

.common-title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.common-title-box > a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: 0.3s;
}

.common-title-box > a:hover {
  color: #fa5a50;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movie-card {
  width: calc(20% - 24px);
}

@media (max-width: 1240px) {
  .movie-card {
    width: calc(25% - 24px);
  }

  #youtube {
    flex-wrap: wrap;
  }

  .box {
    width: calc(50% - 15px);
  }
}
@media (max-width: 780px) {
  .movie-card {
    width: calc(50% - 24px);
  }

  #youtube {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #youtube .box {
    width: 100%;
  }
}

.movie-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 71.4% 0;
  overflow: hidden;
}

.post-img {
  width: 100%;
  transition: 0.5s;
}

.post-img:hover {
  transform: scale(1.1);
}
