/* 검색 결과 총 개수 스타일 */
#result-count {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* 검색 결과가 없을 때 메시지 스타일 */
.searchResult p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  color: white;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 700;
}
